.sec {
    position: relative;

    padding-block: 20px;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: var(--pic);
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
        z-index: -1; /* bag content */
    }

    &:is(.otherPage)::after {
        background-image: none;
        background-color: var(--white);
    }

    > .content {

    }

    .subtitle {
        color: var(--white);
        text-align: center;
    }

    &:is(.otherPage) .subtitle {
        color: var(--orange);
    }

    h1 {
        color: var(--white);
        text-align: center;
        text-transform: uppercase;
        margin-block: 0px 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;

        @media(max-width: 400px) {
            display: flex;
            flex-direction: column;
        }
    }

    &:is(.otherPage) h1 {
        color: var(--black);
    }
}