.header {
    height: 60vh;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: var(--pic);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
        z-index: -1; /* så bag content. */
    }

    &:is(.frontpage)::before {
        content: ""; /* ingen tekst content. */
        position: absolute; /* så abselutely relative to nearest position element, som er hele headeren. */
        inset: 0; /* fylder hele boksen */
        z-index: -1; /* bag content */
        background-color: var(--black); /* bare en sort baggrund. */
        /* dette element er bag content, og er ved billedet, som har opacity, så det har en nice effekt. Before så før billedet, som er after. */
    }

    &:is(.frontpage) {
        height: 70vh;
    }

    &:is(.frontpage)::after {
        opacity: 0.5;
    }

    h1 {
        width: calc(100% - 3rem);
        color: var(--white);
        font-size: 60px;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        line-height: 1; 
        /* for at fjerne whitespace omkring teksten. Hvis 0, så overlapper, men ingen whitespace, 1 er default, 2 er dobbelt så meget spacing, mellem linjer og above and below textbox. kan også være pixels, 1ch som er en character, 1em som er baseret på font-size, etc, etc. */

        @media(max-width: 400px) {
            font-size: 40px;
        }
    }

    &.frontpage h1 {

    }

    &.frontpage h2 {
        width: calc(100% - 3rem);
        text-transform: uppercase;
        text-align: center;
        color: var(--white);
        font-size: 50px;
        font-weight: 300;

        @media(max-width: 400px) {
            font-size: 30px;
        }
    }

    &.frontpage p {
        width: min(280px, 100% - 3rem);
        text-align: center;
        color: var(--white);
        margin-top: 5px;
    }
}