.header {
    height: 60vh;
    width: 100%;
    position: relative; /* så billederne baggrund til sort til effekt på baggrunds billedet kan placeres. */

    /* centrere alt */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: var(--pic);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
        z-index: -1; /* så bag content. */
    }

    &:is(.blackNoPic)::after { /* hvis vi gerne bare ville have en sort baggrund, hvis ikke baggrunds billedet. */
        display:none;
    }

    &:is(.frontpage)::before, &:is(.blackNoPic)::before { /* på forsiden, samt hvis vi gerne ville have en sort baggrund */
        content: ""; /* ingen tekst content. */
        position: absolute; /* så abselutely relative to nearest position element, som er hele headeren. */
        inset: 0; /* fylder hele boksen */
        z-index: -1; /* bag content */
        background-color: var(--black); /* bare en sort baggrund. */
        /* dette element er bag content, og er ved billedet, som har opacity, så det har en nice effekt. Before så før billedet, som er after. */
    }

    &:is(.blackNoPic)::before { /* hvis vi bare gerne ville have en sort baggrund, giv den noget opacity. */
        opacity: 0.9;
    }

    &:is(.frontpage) { /* på forsiden, gør den støre. */
        height: 70vh;
    }

    &:is(.frontpage)::after { /* giv baggrundsbilledet en opacity, så den sorte baggrund stiger mere iggennem. på forsiden. Højere end på de andre sider. */
        opacity: 0.5;
    }

    h1 {
        width: 100%;
        color: var(--white);
        font-size: 60px;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        line-height: 1; 
        /* for at fjerne whitespace omkring teksten. Hvis 0, så overlapper, men ingen whitespace, 1 er default, 2 er dobbelt så meget spacing, mellem linjer og above and below textbox. kan også være pixels, 1ch som er en character, 1em som er baseret på font-size, etc, etc. */

        @media(max-width: 400px) {
            font-size: 40px;
        }
    }

    &.frontpage h2 {
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        color: var(--white);
        font-size: 50px;
        font-weight: 300;

        @media(max-width: 400px) {
            font-size: 30px;
        }
    }

     p {
        width: min(100%, 400px);
        text-align: center;
        color: var(--white);
        margin-top: 5px;
        margin-inline: auto;
    }

    .btn {
        width:fit-content;
        padding-block: 20px 0px;
        margin-inline: auto;
    }

    
}

@media(min-width: 750px) {
.frontpage {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    
    
    .boxWithBorder {
        border-left-color:  var(--white);
        border-left-width: 3px;
        border-left-style: solid;
        
        h1, h2 {
            margin-left: 20px;
            text-align: start;
        }

        h1 {
            line-height: 0.8;
            font-size: 80px;
        }

        h2 {
            line-height: 0.9;
            font-size: 40px;
        }
    }

    .boxWithBorder + p {
        text-align: start;
        margin-inline: 0;
        margin-top: 15px;
    }

    .btn {
        padding-block: 25px 35px;
        margin-inline: 0px;
    }
}
}