.con {
  width: min(100%, 400px);
  margin-inline: 0px;

  padding-block: 10px;
  padding-inline: 10px;

  &.margin {
    margin-block: 10px;
  }

  span {
    border-color: var(--white) var(--white) transparent !important;
  }

  &:is(.whitebc) span {
    border-color: var(--orange) var(--orange) transparent !important;
  }

  &:is(.center) {
    margin-inline:auto;
    display: grid;
    place-content: center;
  }
}