.subs {
    padding-block: 30px;
    background-color: var(--white);

    h1 {
        color: var(--black);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .price {
        text-align: center;
    }

    .grid {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media(min-width: 800px) {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }


}